.contact-bg {
    background-color: #EDE9DE;
    color: #022521;
}

.contact-section {
    max-width: 1000px;
    margin: auto;
    padding: 32px;
}

.contact-container {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.contact-img {
    display: flex;
    justify-content: center;
}

.contact-img img {
    max-width: 400px;
    object-fit: contain;
}

.contact-text,
.contact-form,
.contact-img {
    margin: auto;
}

.icon-text {
    display: flex;
    margin: 20px;
}

.icon-text i {
    margin: auto 0;
    font-size: 130%;
}

.icon-text p {
    margin: 1em;
}

form div {
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
}

.contact-container-form {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.contact-container-form>* {
    flex: 1;
}

input,
textarea,
input::placeholder,
textarea::placeholder {
    font-family: inherit;
    font-size: 90%;
}

.contact-form input {
    height: 22px;
    border: none;
    border-bottom: 1px solid #022521;
    background-color: #EDE9DE;

}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
}

.contact-form textarea {
    resize: none;
    height: 200px;
    border: none;
    border-bottom: 1px solid #022521;
    line-height: 120%;
    background-color: #EDE9DE;
}

.button {
    background-color: #022521;
    color: #EDE9DE;
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: color 1s;
    width: 200px;
    margin: auto;
}

.button:hover {
    color: #ffffff;
}