form div {
    display: flex;
    flex-direction: column;
    margin: 10px 0;

}

input::placeholder,
textarea::placeholder {
    font-size: 100%;
}

input,
textarea {
    font-size: 100%;
}

.contact-form-bg {
    padding: 10px;
    background-color: #303B38;
    color: #EDE9DE;
}

.contact-form input {
    height: 22px;
    border: none;
    border-bottom: 1px solid #EDE9DE;
    background-color: #303B38;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
}

.contact-form textarea {
    background-color: #303B38;
    resize: none;
    height: 140px;
    border: none;
    border-bottom: 1px solid #EDE9DE;
    line-height: 120%;
}

.button {
    background-color: #EDE9DE;
    color: #303B38;
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: color 1s;
    width: 100px;
    margin: auto;
}

.button:hover {
    color: #000000;
}