.contact-text {
    margin: auto;
}

.icon-text {
    display: flex;
    margin: 1rem;
}

.icon-text i {
    margin: auto 0;
    font-size: 1.3rem;
}

.icon-text p {
    margin: 0.8rem;
    font-size: 1rem;
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .icon-text i {
        font-size: 1rem;
    }

    .icon-text p {
        margin: 0.5rem;
        font-size: 0.80rem;
    }
}