.navbar{
    background-color: #303B38;
    display: flex;
}

.navbar-logo img {
    max-width: 200px;
    object-fit: contain;
}

.navbar-links{
    margin:auto 25px;
}

.navbar-links ul {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.navbar-links li {
    display: inline;
    margin: 0 10px;
}

.navbar-links ul li a {
    color: #EDE9DE;
    font-weight: normal;
    transition: text-decoration 1s, font-weight 1s;
    /* Durée de l'animation et propriétés affectées */
}

.navbar-links ul li a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.navbar-social i {
    color: #EDE9DE;
    margin: 0 25px; /* Espace entre les icônes */
    font-size: 300%; /* Augmenter la taille des icônes */
    transition: color 2s;/* Durée de l'animation et propriétés affectées */
}
.navbar-social i:hover {
    color: #ffffff; /* Nouvelle couleur de texte au survol */
}

