.navbar {
    position: sticky;
    background-color: #022521;
    display: flex;
    justify-content: center;
}

.navbar-logo img {
    max-width: 250px;
    object-fit: contain;
}

.navbar-links {
    margin: auto 25px;
}

.navbar-links ul {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.navbar-links li {
    display: inline;
    margin: 0 20px;
}

.navbar-links ul li a {
    color: #EDE9DE;
    font-weight: normal;
    letter-spacing: 1px;
    transition: font-weight 0.5s;
    /* Durée de l'animation et propriétés affectées */
}

.navbar-links ul li a:hover {
    font-weight: bold;
}