.navbar {
    background-color: #022521;
    display: flex;
    justify-content: center;
}

.navbar-logo img {
    max-width: 250px;
    object-fit: contain;
}

.navbar-links-web {
    margin: auto 25px;
}

.navbar-links-web ul {
    list-style: none;
    padding-inline-start: 0;
}

.navbar-links-web li {
    display: inline;
    margin: 0 20px;
}

.navbar-links-web ul li a {
    color: #EDE9DE;
    font-weight: normal;
    letter-spacing: 1px;
}

.navbar-links-mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    .navbar-links-web {
        display: none;
    }

    .navbar-links-mobile {
        display: flex;
    }

    .navbar-links-mobile ul {
        list-style: none;
        padding-inline-start: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .navbar-links-mobile ul li a {
        color: #EDE9DE;
        font-weight: normal;
        letter-spacing: 1px;
    }

}